<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>RFT</title>
	<link rel="stylesheet" href="src/css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="src/css/react-widgets/css/react-widgets.css">
	<link rel="stylesheet" href="src/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="src/css/pnotify/pnotify.custom.min.css">
	<link rel="stylesheet" href="dist/css/index.css">
</head>
<body>
	<div id="app"></div>
	<script src="dist/js/bundle.js"></script>
</body>
</html>
