.add-container {
  position: fixed;
  right: 2%;
  bottom: 4%;
  z-index: 1000;

  .add-btn {
    border-radius: 50%;
    width: 60px;
    height: 60px;

    &:focus {
      outline: none;
      background-color: #128f76;
      border-color: #11866f;
    }
  }

  .add-icon {
    font-size: 20px;
  }
}

.add-modal-container {

  .body-entry-container {
    .row {
      margin-top: 8px;
    }

    span {
      letter-spacing: 0.5px;
      color: $color-gray-02;
    }
  }

  .exchange-rate {
    color: $color-emerald;
  }

  .modal-title {
    text-align: center;
  }

  .btn-action {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

}
