.label-container {

  .label-form {
    padding-top: 2rem;
  }

  .grid-container {
    padding-top: 4rem;

    .react-bs-table-pagination {
      font-size: 1rem;

      .dropdown-toggle {
        font-size: 1rem;
      }
    }
  }

}
