$color-peter-river: #3498DB;
$color-emerald: #18BC9C;
$color-white: #FFF;
$color-gray-02: #BDC3C7;
$color-gray-03: #95A5A6;
$color-gray-04: #7F8C8D;
$color-blue-03: #2C3E50;
$color-red-01: #C72C1C;
$color-red-02: #B71C0C;
$color-red-03: #A70C00;
$color-red-04: #870000;
